.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d173ce87;
  background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
  flex-direction: column;
  font-family: "Source Sans Pro", "sans-serif";
  color: white;
  height: 400px;
  width: 100%;
  margin-top: 5em;
  margin-left: 2em;
  margin-right: 2em;
}

.userProfilePic {
  margin-top:1em
}

.bold {
  font-weight: bolder;
}

.profileName {
  font-weight: normal;
}

/* For desktop size */
@media (min-width: 1024px) {
  .profile{
    margin-bottom: 18em;
    margin-top: 7em;
    align-self: start;
  }
}

