nav {
  display: flex;
  color: #FFFFFF;
  background-color: #d173ce87;
  background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
  padding-left: 1.5em;
  padding-right: 1.5em;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.5em;
  height: 120px;
  width: 100%
}

.logo {
  display: flex; 
  font-family:"Bungee", "sans-serif";
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.writeNewTweet {
  display: flex;
  font-family: "Source Sans Pro", "sans-serif";
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 0.75em;
  align-items: center;
}

.writeNewTweet p {
  margin-bottom: 0.5em;
}

.fa-solid {
  color: #ff0000
}

@media (min-width: 1024px) {
  nav{
    background-color:#4056A1 ;
    background-image: none;
  }
}
