section#tweetsContainer {
  display:flex;
  background-color:#f4f1ec;
  font-family: "Source Sans Pro", "sans-serif";
  flex-direction: column;
  width: 90%
}

.tweet {
  border: 0.15em solid #545149;
  margin-top: 2em;
  padding: 0.75em;
}

.tweetHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
  font-size: 0.75em;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.userIcon {
  margin-left: 1em;
  margin-right: 1em;
}

.userName {
  color:#b9c6de;
}

.tweetMsg {
  font-size: 1.0em;
}

.tweetFooter {
  border-top-style:solid;
  border-width: 0.25em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.75em;
  margin-top: 1em;
  font-size: 0.70em;
}

.tweet:hover {
  box-shadow: 0.5em 0.5em #dbd6d6;
}

.tweetReactions {
  color: #4056A1;
}

.tweetReactions i:hover {
  color: rgb(205, 198, 108);
}